.DS_Store
dgm_for_text_data/
.vscode/settings.json
project1/__pycache__/tokenizers.cpython-37.pyc
project1/__pycache__/tokenizers.cpython-38.pyc
*.pyc
.ipynb_checkpoints
storage
*.pt
project1/runspieter.zip
